flask
flask_sqlalchemy
flask_socketio
flask_login
python-dotenv
psycopg2-binary
gunicorn
Flask==2.2.5
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-SocketIO==5.3.6
eventlet==0.33.3
psycopg2-binary==2.9.7
